/* Estilos para el ComboBox */
.select-wrapper {
  position: relative;
  display: flex; /* Usa flexbox */
  align-items: center; /* Centra verticalmente los elementos hijos */
  justify-content: center; /* Centra horizontalmente los elementos hijos */
  margin-top: 2vh; /* Margen superior */
  margin-bottom: 2vh;
}

.select-wrapper select {
  appearance: none;
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  width: 65%;
  transition: border-color 0.3s ease; /* Transición para el cambio de color del borde */
}

.select-wrapper::before {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Estilos para las opciones */
.select-wrapper select option {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px; /* Bordes redondeados para las opciones */
  transition: background-color 0.3s ease; /* Transición para el cambio de color de fondo */
}

/* Estilo al pasar el ratón sobre las opciones */
.select-wrapper select option:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón */
}
