.Contain{
    margin-top: 25px;
}

.params{
    width: 100%;
    margin-top: 4vh;
    padding: 0px 20px;
}

.params>div{
    margin-bottom: 5vh;
}

.house {
    display: flex;
    width: 100%;
    margin-top: 2vh;
}
.room1{
    display: inline-block;
    width: 33%;
    height: 100%;
}
.room1 button{
    display: block;
    height: 30vh;
    width: 100%;
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(13, 15, 17, 0.568);
    border-radius: 0px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
}
.room1 button:hover {
    background-color: #72c29d;
    text-decoration: none;
    transition-duration: 0.1s;
}

.room {
    display: inline-block;
    width: 33%;
    height: 100%;
}

.room button {
    display: block;
    height: 15vh;
    width: 100%;
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(13, 15, 17, 0.568);
    border-radius: 0px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
}
.room button:hover {
    background-color: #72c29d;;
    text-decoration: none;
    transition-duration: 0.1s;
}